.list-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 200px;
    width: 200px;
}

.item-data {
    padding-bottom: 30px;
    text-align: center;
}

.item-data p {
    max-width: 200px;
}

button {
    width: 25px;
    height: 25px;
    margin: 10px 14px 0 0;
    background-color: unset;
    border: none;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

button:focus {
    outline: unset;
}

.like {
    background-image:  url('../../assets/images/like.svg');
}

.unlike {
    background-image:  url('../../assets/images/heart.svg');
}

.remove {
    background-image:  url('../../assets/images/delete1.svg');
}

.undo {
    background-image:  url('../../assets/images/undo.svg');
}

.edit {
    background-image:  url('../../assets/images/edit.svg');
}

.save {
    background-image:  url('../../assets/images/foursquare-check-in.svg');
}