.App {
  text-align: center;
}

span { cursor: pointer; }

.container {
  margin: 20px;
}

.dashboard-menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  color: black;
  font-size: 16px;
}

.dashboard-menu .selectedTab {
  padding-bottom: 10px;
  background-color: #bde0f1;
  color: black;
  border-left: 6px solid #35C9F5;
}
.dashboard-menu li {
  display: list-item;
  padding: 15px 15px 15px 15px;
}


.search {
  color: #5F6368;
}

input,
input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 3;
  color: #78797A;
  height: inherit;
  padding-left: 10px;
  background-color: #F1F3F4;
  border-radius: 5px;
  border: 1px;
}