.App {
  text-align: center;
}

a { cursor: pointer; }

.dashboard-menu {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  color: black;
  font-size: 16px;
}

.dashboard-menu .selectedTab {
  padding-bottom: 10px;
  background-color: #bde0f1;
  color: black;
  border-left: 6px solid #35C9F5;
}
.dashboard-menu li {
  display: list-item;
  padding: 15px 15px 15px 15px;
}
